* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #830542;
  font-family: 'Qatar2022 Arabic', sans-serif;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #710C32;
  padding: 40px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav--logo_icon {
  width: 200px;
  margin-right: auto;
}

.nav--logo_text {
  color: white;
  margin-right: auto;
}

.nav-links {
  display: flex;
}
.nav-link {
  margin: 15px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.nav-link:active {
  border-bottom: 2px solid white;
}
.fixture-list {
  display: flex;
  justify-content: start;
  background-color: #830542;
  margin-bottom: 10px;
}
.fixture-title {
  flex-basis: 40%;
  background-color: white;
  color: #710C32;
  justify-content: start;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}
.team-Scorers {
  display: flex;
  width: 100%;
}
.team-Scorers {
  flex-basis: 50%;
  color: white;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
}
.score {
  padding: 8px;
  height: 45px;
  margin: 0 10px;
  flex-basis: 10%;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
}
main {
  display: flex;
  
}
aside {
  flex-basis: 15%;
}
section {
  flex-basis: 85%;
  padding: 20px;
}
.group-section{
  background-color: #830542;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(238, 231, 231, 0.9);
  /* padding: 20px; */
  margin: 0 0 25px 0;
}
.box-container {
  display: flex;
  background-color: white;
  color: #710C32;
  justify-content: start;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.box-img {
  max-width: 40px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
.box-name {
  font-family: Qatar2022 Arabic;
  font-weight: bold;
}

.box {
  width: 10%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 15px;
}
.box-stats {
  background-color: green;
  color: white;
  width: 15%;
  padding: 15px;
}

.title {
  text-align: center;
  width: 30%;
  padding: 15px;
}

.container {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: aqua;
}
ul {
  list-style-type: none;
  position: fixed;
}

ul > li {
  color: white;
}

.left {
  flex-basis: 25%;
}
.right {
  flex-basis: 75%;
  background-color: green;
}
.img {
  padding-right: 10px;
}
.box-name {
  font-size: 18px;
  padding-right: auto;
}
/* .scores {
  align-items: flex-end; */
/* } */
.row {
  display: flex;
  flex-wrap: wrap;
}
.rowLive {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.side1 {
  flex: 20%;
  margin-right: 10px;
}
.side2 {
  flex: 50%;
}

table {
  width: 100%;
  color: white;
  border-collapse: collapse;
  margin-bottom: 25px;
  background-image: url('/wcimage/d7b20c142069201.625ffbdb35502.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table-point {
  font-weight: bold;
}
.live-list {
  background-color: white;
  border: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}
.live-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.live-row-list {
  display: flex;
  align-items: center;
  flex: 80%;
  margin: 10px;
}
.span-right {
  margin-right: auto;
}
.live-column {
  flex: 100%;
  border-right: 1px solid #710C32;
}
.live-right {
  flex: 20%;
  padding-left: 15px;
}
.standing-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
@media (max-width:600px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
  .nav-link {
    font-size: 14px;
    margin-right: 5px;
  }
  .nav--logo_icon {
    width: 100px;
  }
  .fixture-title {
    padding: 4px;
  }
}